#main {
    display: flex;
    padding: 30px;
    justify-content: center;
    background: rgb(97,97,175);
    background: radial-gradient(circle, rgba(97,97,175,0.87718837535014) 31%, rgba(0,255,209,0.9640231092436975) 100%);
}